{% extends 'base.html.twig' %}

{% block title %}Bonjour, {% endblock %}

{% block body %}
    <div class="container d-flex">
        <div>
            <img class="fit-picture"
                 src="avatar.png"
                 alt="avatar photo">
        </div>

    </div>


{% endblock %}