{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}

    <h1>Affichage des sorties en cours</h1>

    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}



{% endblock %}